In [2]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
Vegas = pd.read_csv('vegas.csv')
Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.lower()

In [34]:
Vegas.head()

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

In [7]:
Vegas['hotel_name'].unique()

array(['Circus Circus Hotel & Casino Las Vegas',
       'Excalibur Hotel & Casino', 'Monte Carlo Resort&Casino',
       'Treasure Island- TI Hotel & Casino',
       'Tropicana Las Vegas - A Double Tree by Hilton Hotel',
       'Caesars Palace', 'The Cosmopolitan Las Vegas',
       'The Palazzo Resort Hotel Casino', 'Wynn Las Vegas',
       'Trump International Hotel Las Vegas', 'The Cromwell',
       'Encore at wynn Las Vegas',
       'Hilton Grand Vacations on the Boulevard',
       "Marriott's Grand Chateau", 'Tuscany Las Vegas Suites & Casino',
       'Hilton Grand Vacations at the Flamingo', 'Wyndham Grand Desert',
       'The Venetian Las Vegas Hotel', 'Bellagio Las Vegas',
       'Paris Las Vegas', 'The Westin las Vegas Hotel Casino & Spa'],
      dtype=object)

In [46]:
Vegas['score'].max()

5

Group the `DataFrame` by hotel, and pull out a sample group to experiment with.

In [18]:
by_hotel = Vegas.groupby('hotel_name')

In [37]:
Vegas[Vegas['traveler_type']=='Friends']['score']

0      5
3      4
8      4
11     3
12     2
      ..
464    5
479    4
485    5
488    3
501    4
Name: score, Length: 82, dtype: int64

In [93]:
sample_group = by_hotel.get_group('Caesars Palace')

In [94]:
sample_group[sample_group['traveler_type']=='Friends']['score']

120    5
135    4
139    5
Name: score, dtype: int64

Create a function that takes a group returns two rows of data.  The first row should correspond a random reviewer that gave the highest score to the hotel.  The second should correspond to a random reviewer that gave the lowest score.  Test your function on the sample group.

In [95]:
def review_min_max(group):
    return group.sort_values(by = 'score').max().iloc[4:5], group.sort_values(by = 'score').min().iloc[4:5]

In [96]:
def top_bot_reviewers(group):
    max_score = group.score.max()
    min_score = group.score.min()
    good_review = group[group.score == max_score].sample(1)
    bad_review = group[group.score == min_score].sample(1)
    return pd.concat([good_review, bad_review])

In [98]:
review_min_max(sample_group)

(score    5
 dtype: object, score    1
 dtype: object)

In [99]:
top_bot_reviewers(sample_group)

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
122,Puerto Rico,153,38,81,5,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,Caesars Palace,5,3348,North America,10,February,Tuesday
128,UK,15,6,39,1,Mar-May,Couples,YES,YES,NO,YES,YES,YES,Caesars Palace,5,3348,Europe,4,May,Sunday

Finally, use `apply()` to create a table of top and bottom reviews for all hotels.

In [77]:
by_hotel.apply(top_bot_reviewers)

                                                       user_country  \
hotel_name
Bellagio Las Vegas                                 433          USA
                                                   437          USA
Caesars Palace                                     126       Canada
                                                   131          USA
Circus Circus Hotel & Casino Las Vegas             0            USA
                                                   21    New Zeland
Encore at wynn Las Vegas                           284        India
                                                   264     Thailand
Excalibur Hotel & Casino                           28           USA
                                                   39           USA
Hilton Grand Vacations at the Flamingo             373       Canada
                                                   362           UK
Hilton Grand Vacations on the Boulevard            288          USA
                                                   297          USA
Marriott's Grand Chateau                           328       Hawaii
                                                   330     Thailand
Monte Carlo Resort&Casino                          54      Scotland
                                                   69         China
Paris Las Vegas                                    471          USA
                                                   474       Canada
The Cosmopolitan Las Vegas                         163           UK
                                                   156          USA
The Cromwell                                       250          USA
                                                   253          USA
The Palazzo Resort Hotel Casino                    187    Australia
                                                   168       Mexico
The Venetian Las Vegas Hotel                       418          USA
                                                   412          USA
The Westin las Vegas Hotel Casino & Spa            484          USA
                                                   502          USA
Treasure Island- TI Hotel & Casino                 75           USA
                                                   79     Australia
Tropicana Las Vegas - A Double Tree by Hilton H... 97           USA
                                                   112       Canada
Trump International Hotel Las Vegas                223          USA
                                                   233        Egypt
Tuscany Las Vegas Suites & Casino                  358       Canada
                                                   344        India
Wyndham Grand Desert                               396           UK
                                                   398          USA
Wynn Las Vegas                                     198          USA
                                                   208       Canada

                                                        nr_reviews  \
hotel_name
Bellagio Las Vegas                                 433          15
                                                   437          30
Caesars Palace                                     126           5
                                                   131          25
Circus Circus Hotel & Casino Las Vegas             0            11
                                                   21            4
Encore at wynn Las Vegas                           284          13
                                                   264           3
Excalibur Hotel & Casino                           28           26
                                                   39           24
Hilton Grand Vacations at the Flamingo             373          45
                                                   362          61
Hilton Grand Vacations on the Boulevard            288           4
                                                   297          70
Marriott's Grand Chateau                           328          88
                                                   330          18
Monte Carlo Resort&Casino                          54           24
                                                   69            1
Paris Las Vegas                                    471          73
                                                   474          18
The Cosmopolitan Las Vegas                         163          18
                                                   156           6
The Cromwell                                       250           2
                                                   253           4
The Palazzo Resort Hotel Casino                    187           5
                                                   168          28
The Venetian Las Vegas Hotel                       418           7
                                                   412           9
The Westin las Vegas Hotel Casino & Spa            484          33
                                                   502           9
Treasure Island- TI Hotel & Casino                 75           17
                                                   79           16
Tropicana Las Vegas - A Double Tree by Hilton H... 97           12
                                                   112          27
Trump International Hotel Las Vegas                223           1
                                                   233           2
Tuscany Las Vegas Suites & Casino                  358           9
                                                   344           1
Wyndham Grand Desert                               396           6
                                                   398          41
Wynn Las Vegas                                     198         125
                                                   208          12

                                                        nr_hotel_reviews  \
hotel_name
Bellagio Las Vegas                                 433                 3
                                                   437                 9
Caesars Palace                                     126                 5
                                                   131                22
Circus Circus Hotel & Casino Las Vegas             0                   4
                                                   21                  3
Encore at wynn Las Vegas                           284                 7
                                                   264                 3
Excalibur Hotel & Casino                           28                 10
                                                   39                  6
Hilton Grand Vacations at the Flamingo             373                 6
                                                   362                13
Hilton Grand Vacations on the Boulevard            288                 3
                                                   297                25
Marriott's Grand Chateau                           328                19
                                                   330                 9
Monte Carlo Resort&Casino                          54                 10
                                                   69                  0
Paris Las Vegas                                    471                 7
                                                   474                 3
The Cosmopolitan Las Vegas                         163                 4
                                                   156                 4
The Cromwell                                       250                 0
                                                   253                 0
The Palazzo Resort Hotel Casino                    187                 3
                                                   168                23
The Venetian Las Vegas Hotel                       418                 5
                                                   412                 3
The Westin las Vegas Hotel Casino & Spa            484                11
                                                   502                 6
Treasure Island- TI Hotel & Casino                 75                  9
                                                   79                 13
Tropicana Las Vegas - A Double Tree by Hilton H... 97                  6
                                                   112                 0
Trump International Hotel Las Vegas                223                 0
                                                   233                 0
Tuscany Las Vegas Suites & Casino                  358                 8
                                                   344                 0
Wyndham Grand Desert                               396                 3
                                                   398                 8
Wynn Las Vegas                                     198                35
                                                   208                 7

                                                        helpful_votes  score  \
hotel_name
Bellagio Las Vegas                                 433             13      5
                                                   437             17      2
Caesars Palace                                     126              4      5
                                                   131             36      1
Circus Circus Hotel & Casino Las Vegas             0               13      5
                                                   21               3      1
Encore at wynn Las Vegas                           284              8      5
                                                   264             20      1
Excalibur Hotel & Casino                           28              28      5
                                                   39               9      2
Hilton Grand Vacations at the Flamingo             373             22      5
                                                   362             26      2
Hilton Grand Vacations on the Boulevard            288              2      5
                                                   297             19      1
Marriott's Grand Chateau                           328             58      5
                                                   330              8      3
Monte Carlo Resort&Casino                          54              13      5
                                                   69               2      1
Paris Las Vegas                                    471             26      5
                                                   474             10      2
The Cosmopolitan Las Vegas                         163             16      5
                                                   156             14      1
The Cromwell                                       250              2      5
                                                   253             16      1
The Palazzo Resort Hotel Casino                    187              9      5
                                                   168             31      3
The Venetian Las Vegas Hotel                       418              6      5
                                                   412             13      3
The Westin las Vegas Hotel Casino & Spa            484             12      5
                                                   502              5      2
Treasure Island- TI Hotel & Casino                 75              16      5
                                                   79              16      3
Tropicana Las Vegas - A Double Tree by Hilton H... 97               1      5
                                                   112              9      1
Trump International Hotel Las Vegas                223              1      5
                                                   233             15      1
Tuscany Las Vegas Suites & Casino                  358              5      5
                                                   344              3      2
Wyndham Grand Desert                               396             14      5
                                                   398             14      3
Wynn Las Vegas                                     198             48      5
                                                   208             11      2

                                                       period_of_stay  \
hotel_name
Bellagio Las Vegas                                 433        Dec-Feb
                                                   437        Mar-May
Caesars Palace                                     126        Mar-May
                                                   131        Jun-Aug
Circus Circus Hotel & Casino Las Vegas             0          Dec-Feb
                                                   21         Sep-Nov
Encore at wynn Las Vegas                           284        Sep-Nov
                                                   264        Dec-Feb
Excalibur Hotel & Casino                           28         Mar-May
                                                   39         Jun-Aug
Hilton Grand Vacations at the Flamingo             373        Jun-Aug
                                                   362        Dec-Feb
Hilton Grand Vacations on the Boulevard            288        Dec-Feb
                                                   297        Mar-May
Marriott's Grand Chateau                           328        Sep-Nov
                                                   330        Sep-Nov
Monte Carlo Resort&Casino                          54         Mar-May
                                                   69         Sep-Nov
Paris Las Vegas                                    471        Jun-Aug
                                                   474        Sep-Nov
The Cosmopolitan Las Vegas                         163        Sep-Nov
                                                   156        Jun-Aug
The Cromwell                                       250        Jun-Aug
                                                   253        Jun-Aug
The Palazzo Resort Hotel Casino                    187        Sep-Nov
                                                   168        Dec-Feb
The Venetian Las Vegas Hotel                       418        Jun-Aug
                                                   412        Mar-May
The Westin las Vegas Hotel Casino & Spa            484        Mar-May
                                                   502        Dec-Feb
Treasure Island- TI Hotel & Casino                 75         Dec-Feb
                                                   79         Mar-May
Tropicana Las Vegas - A Double Tree by Hilton H... 97         Dec-Feb
                                                   112        Sep-Nov
Trump International Hotel Las Vegas                223        Mar-May
                                                   233        Sep-Nov
Tuscany Las Vegas Suites & Casino                  358        Dec-Feb
                                                   344        Mar-May
Wyndham Grand Desert                               396        Jun-Aug
                                                   398        Jun-Aug
Wynn Las Vegas                                     198        Mar-May
                                                   208        Sep-Nov

                                                       traveler_type pool  \
hotel_name
Bellagio Las Vegas                                 433      Families  YES
                                                   437      Business  YES
Caesars Palace                                     126       Couples  YES
                                                   131          Solo  YES
Circus Circus Hotel & Casino Las Vegas             0         Friends   NO
                                                   21        Couples   NO
Encore at wynn Las Vegas                           284       Couples  YES
                                                   264      Business  YES
Excalibur Hotel & Casino                           28           Solo  YES
                                                   39       Families  YES
Hilton Grand Vacations at the Flamingo             373       Couples  YES
                                                   362       Couples  YES
Hilton Grand Vacations on the Boulevard            288       Couples  YES
                                                   297       Couples  YES
Marriott's Grand Chateau                           328       Friends  YES
                                                   330      Business  YES
Monte Carlo Resort&Casino                          54        Couples  YES
                                                   69       Business  YES
Paris Las Vegas                                    471       Couples  YES
                                                   474       Couples  YES
The Cosmopolitan Las Vegas                         163       Friends  YES
                                                   156      Business  YES
The Cromwell                                       250       Friends  YES
                                                   253       Friends  YES
The Palazzo Resort Hotel Casino                    187       Couples  YES
                                                   168       Couples  YES
The Venetian Las Vegas Hotel                       418       Couples  YES
                                                   412       Couples  YES
The Westin las Vegas Hotel Casino & Spa            484      Business  YES
                                                   502      Families  YES
Treasure Island- TI Hotel & Casino                 75           Solo  YES
                                                   79       Families  YES
Tropicana Las Vegas - A Double Tree by Hilton H... 97        Friends  YES
                                                   112       Couples  YES
Trump International Hotel Las Vegas                223       Couples  YES
                                                   233      Families  YES
Tuscany Las Vegas Suites & Casino                  358      Families  YES
                                                   344      Families  YES
Wyndham Grand Desert                               396      Families  YES
                                                   398      Families  YES
Wynn Las Vegas                                     198      Business  YES
                                                   208      Business  YES

                                                        gym tennis_court  spa  \
hotel_name
Bellagio Las Vegas                                 433  YES           NO  YES
                                                   437  YES           NO  YES
Caesars Palace                                     126  YES           NO  YES
                                                   131  YES           NO  YES
Circus Circus Hotel & Casino Las Vegas             0    YES           NO   NO
                                                   21   YES           NO   NO
Encore at wynn Las Vegas                           284  YES           NO  YES
                                                   264  YES           NO  YES
Excalibur Hotel & Casino                           28   YES           NO  YES
                                                   39   YES           NO  YES
Hilton Grand Vacations at the Flamingo             373  YES           NO   NO
                                                   362  YES           NO   NO
Hilton Grand Vacations on the Boulevard            288  YES           NO  YES
                                                   297  YES           NO  YES
Marriott's Grand Chateau                           328  YES           NO   NO
                                                   330  YES           NO   NO
Monte Carlo Resort&Casino                          54   YES           NO  YES

In [88]:
hotel_friends = Vegas.groupby(['hotel_name','traveler_type'])

In [89]:
pd.set_option('display.max_rows', None)
display(hotel_friends)

In [92]:
hotel_friends.member_years.mean()

hotel_name                                           traveler_type
Bellagio Las Vegas                                   Business           2.33
                                                     Couples            3.86
                                                     Families           4.67
                                                     Friends            3.33
                                                     Solo               1.50
Caesars Palace                                       Business          11.00
                                                     Couples            3.91
                                                     Families           4.62
                                                     Friends            4.67
                                                     Solo               9.00
Circus Circus Hotel & Casino Las Vegas               Business           3.00
                                                     Couples            4.71
                                                     Families           3.00
                                                     Friends            3.57
                                                     Solo               7.00
Encore at wynn Las Vegas                             Business           4.33
                                                     Couples            5.12
                                                     Families           3.75
                                                     Friends            5.33
Excalibur Hotel & Casino                             Business           5.33
                                                     Couples            5.70
                                                     Families           4.00
                                                     Friends            3.40
                                                     Solo               2.00
Hilton Grand Vacations at the Flamingo               Business           6.25
                                                     Couples            4.00
                                                     Families           2.11
                                                     Friends            6.33
Hilton Grand Vacations on the Boulevard              Business           5.33
                                                     Couples            4.89
                                                     Families           5.67
                                                     Friends            1.00
                                                     Solo               1.50
Marriott's Grand Chateau                             Business           6.33
                                                     Couples            4.38
                                                     Families           3.57
                                                     Friends            2.33
Monte Carlo Resort&Casino                            Business           1.75
                                                     Couples            4.08
                                                     Families           2.33
                                                     Friends            4.50
                                                     Solo               5.00
Paris Las Vegas                                      Business           9.00
                                                     Couples            3.35
                                                     Families           3.50
                                                     Friends            3.50
The Cosmopolitan Las Vegas                           Business           1.80
                                                     Couples            6.56
                                                     Families           5.67
                                                     Friends            3.29
The Cromwell                                         Business           3.00
                                                     Couples            3.10
                                                     Families           3.75
                                                     Friends            5.40
                                                     Solo               1.00
The Palazzo Resort Hotel Casino                      Business           1.50
                                                     Couples            5.33
                                                     Families           6.38
                                                     Friends            5.00
The Venetian Las Vegas Hotel                         Business           4.00
                                                     Couples            4.19
                                                     Families           6.25
                                                     Friends            5.00
                                                     Solo               0.00
The Westin las Vegas Hotel Casino & Spa              Business           4.33
                                                     Couples            5.22
                                                     Families           6.80
                                                     Friends            4.00
                                                     Solo               8.00
Treasure Island- TI Hotel & Casino                   Business           4.00
                                                     Couples            4.10
                                                     Families           4.00
                                                     Friends            5.40
                                                     Solo            -900.50
Tropicana Las Vegas - A Double Tree by Hilton Hotel  Business           2.75
                                                     Couples            2.22
                                                     Families           6.00
                                                     Friends            2.86
                                                     Solo               5.50
Trump International Hotel Las Vegas                  Business           5.25
                                                     Couples            3.60
                                                     Families           3.25
                                                     Friends           11.00
                                                     Solo              10.00
Tuscany Las Vegas Suites & Casino                    Business           3.86
                                                     Couples            5.45
                                                     Families           2.00
                                                     Friends            5.50
Wyndham Grand Desert                                 Business           6.50
                                                     Couples            4.88
                                                     Families           4.00
                                                     Friends            4.20
Wynn Las Vegas                                       Business           4.50
                                                     Couples            5.27
                                                     Families           4.00
                                                     Friends            6.50
                                                     Solo               8.00
Name: member_years, dtype: float64

In [101]:
Vegas.score.groupby([Vegas['pool'], Vegas['tennis_court']]).mean().unstack()

tennis_court   NO  YES
pool
NO           3.21  nan
YES          4.14 4.24